<div id="<%= dom_id cliente %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Detalhes do Cliente</h5>

    <p class="card-text"><strong>Nome:</strong> <%= cliente.nome %></p>
    <p class="card-text"><strong>Sobrenome:</strong> <%= cliente.sobrenome %></p>
    <p class="card-text"><strong>CPF:</strong> <%= cliente.cpf %></p>
    <p class="card-text"><strong>Celular 1:</strong> <%= cliente.celular1 %></p>
    <p class="card-text"><strong>Celular 2:</strong> <%= cliente.celular2 %></p>
    <p class="card-text"><strong>Data de Cadastro:</strong> <%= cliente.data_cadastro %></p>
    <p class="card-text"><strong>Rua:</strong> <%= cliente.rua %></p>
    <p class="card-text"><strong>Número:</strong> <%= cliente.numero %></p>
    <p class="card-text"><strong>Complemento:</strong> <%= cliente.complemento %></p>
    <p class="card-text"><strong>Bairro:</strong> <%= cliente.bairro %></p>
    <p class="card-text"><strong>Cidade:</strong> <%= cliente.cidade %></p>
    <p class="card-text"><strong>Estado:</strong> <%= cliente.estado %></p>
    <p class="card-text"><strong>E-mail:</strong> <%= cliente.email %></p>
    <p class="card-text"><strong>Observação:</strong> <%= cliente.observacao %></p>
  </div>
</div>