<%= form_with(model: embalagem, local: true) do |form| %>
  <% if embalagem.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(embalagem.errors.count, "erro") %> impediram esta embalagem de ser salva:</h4>
      <ul>
        <% embalagem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :nome, class: "form-label" %>
    <%= form.text_field :nome, class: "form-control", placeholder: "Digite o nome da embalagem" %>
  </div>

  <div class="text-start mt-3">
    <%= form.submit "Salvar", class: "btn btn-success btn-sm w-auto" %>
  </div>
<% end %>