<div id="<%= dom_id administrador %>">
  <p>
    <strong>Tipo:</strong>
    <%= administrador.tipo %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= administrador.nome %>
  </p>

  <p>
    <strong>Sobrenome:</strong>
    <%= administrador.sobrenome %>
  </p>

  <p>
    <strong>Identificacao:</strong>
    <%= administrador.identificacao %>
  </p>

  <p>
    <strong>Celular1:</strong>
    <%= administrador.celular1 %>
  </p>

  <p>
    <strong>Celular2:</strong>
    <%= administrador.celular2 %>
  </p>

  <p>
    <strong>Telefone fixo:</strong>
    <%= administrador.telefone_fixo %>
  </p>

  <p>
    <strong>Razao social:</strong>
    <%= administrador.razao_social %>
  </p>

  <p>
    <strong>Nome fantasia:</strong>
    <%= administrador.nome_fantasia %>
  </p>

  <p>
    <strong>Representante legal:</strong>
    <%= administrador.representante_legal %>
  </p>

  <p>
    <strong>Data cadastro:</strong>
    <%= administrador.data_cadastro %>
  </p>

  <p>
    <strong>Rua:</strong>
    <%= administrador.rua %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= administrador.numero %>
  </p>

  <p>
    <strong>Complemento:</strong>
    <%= administrador.complemento %>
  </p>

  <p>
    <strong>Bairro:</strong>
    <%= administrador.bairro %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= administrador.cidade %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= administrador.estado %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= administrador.senha %>
  </p>

  <p>
    <strong>Confirmar senha:</strong>
    <%= administrador.confirmar_senha %>
  </p>

</div>
