<div id="<%= dom_id movimentacao %>">
  <p>
    <strong>Codigo lote:</strong>
    <%= movimentacao.codigo_lote %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= movimentacao.tipo %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= movimentacao.cliente_id %>
  </p>

  <p>
    <strong>Quantidade sacas:</strong>
    <%= movimentacao.quantidade_sacas %>
  </p>

  <p>
    <strong>Peso total:</strong>
    <%= movimentacao.peso_total %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= movimentacao.localizacao %>
  </p>

  <p>
    <strong>Qualidade:</strong>
    <%= movimentacao.qualidade_id %>
  </p>

  <p>
    <strong>Data cadastro:</strong>
    <%= movimentacao.data_cadastro %>
  </p>

  <p>
    <strong>Embalagem:</strong>
    <%= movimentacao.embalagem_id %>
  </p>

  <p>
    <strong>Observacao:</strong>
    <%= movimentacao.observacao %>
  </p>

</div>
